
button.action-button {
	font-size: 20px;
	padding: 12px 24px;
	min-width: 150px;
	margin: 0px 16px;
}

button.action-button.with-icon {

}

button.action-button.with-icon {
	.mat-icon {
		position: absolute;
		right: 0px;
		top: 0px;
	}
}


/*
 * TODO: Define passive, primary, dangerous colors
 */
.action-button.dangerous-action {

}
.action-buttion.disabled-action {

}
.action-button.passive-action {
	color: #90A4AE;
}
.action-button.primary-action {
	color: #66BB6A;
	background-color: #4CAF50;
	color: white;
}


/* FAB */

.fab-container .mat-fab {

	 .mat-button-wrapper {
	 	padding: 0px;
	 }

	.mat-icon {
		font-size: 48px;
		width: 48px;
		height: 48px;
	}

}




/**
 * TODO: Which spacing is better on the fabs, 32x32 vs 16x12
 *
 * TODO: 3 Layout Modes - tight, comfortable, spacious
 * 
 */


/* Spacious */
.fab-container.fab-float-br {
	position: fixed;
	right: 32px;
	bottom: 32px;
}

/* Comfortable */






/* Detailed Buttons:
	
	Use when you want to present an option with a large amount of
	text. Has primary-text, secondary-text, and content.

	Todo: Unify colory scheming
*/

.mat-button.detailed-button {
	margin-top: 16px;
	width: 500px;
	.primary-text {
		font-size: larger;
		margin-top: 16px;
	}
	.secondary-text {
		padding: 8px;
		color: gray;
	}
}

.mat-button.detailed-button.btn-active {
	color: #4CAF50;
	border: 2px solid #4CAF50;
	.secondary-text {
		padding: 8px;
		color: #4CAF50;
	}
}

.mat-button.detailed-button.btn-default {
	color: #2196f3;
	border: 2px solid #2196f3;
	.secondary-text {
		padding: 8px;
		color: #2196f3;
	}
}

.mat-button.detailed-button.btn-passive {
	color: #90A4AE;
	border: 2px solid #90A4AE;
	.secondary-text {
		padding: 8px;
		color: #90A4AE;
	}
}



/**
 * Action Buttons
 */

.action-buttons,
.ag-card .mat-card>.mat-card-actions {
	display: flex;
	justify-content: space-between;
	direction: rtl;
	text-align: left;

	padding: 16px;
	margin: 0px;

	:last-child {
		margin: 0px;
	}

	.mat-button {
		padding: 12px 24px;
		font-size: 24px;
		direction: ltr;	

		.mat-button-wrapper {
			> .mat-icon {
				font-size: 42px;
				width: 42px;
				height: 42px;
			}

			> span {
				padding: 0px 12px;
			}
		}			
	}

	.mat-button.btn-primary {
		background: rgb(33,150,243);
		background: radial-gradient(circle, rgba(33,150,243,1) 0%, rgba(30,136,229,1) 29%, rgba(66,165,245,1) 100%);
		color: white;
	}

	.mat-button.btn-dangerous {
	background: rgb(229,57,53);
	background: radial-gradient(circle, rgba(229,57,53,1) 0%, rgba(198,40,40,1) 29%, rgba(211,47,47,1) 100%);
		color: white;
	}

	.mat-button.btn-discreet-dangerous {
		color: #78909C;
	}
	.mat-button.btn-discreet-dangerous:hover {
		background: rgb(229,57,53);
		background: radial-gradient(circle, rgba(229,57,53,1) 0%, rgba(198,40,40,1) 29%, rgba(211,47,47,1) 100%);
			color: white;
	}

	.mat-button.btn-nuetral {
		color: gray;
	}

	.mat-button.btn-back {
		color: gray;
		padding-left: 48px;
		padding-right: 48px;
	}


	.action-links {

		padding-left: 44px;

		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;

		a {
			width: auto;
			display: inline-block;
		}
	}
}

.ag-card .mat-card>.mat-card-actions:last-child {
    margin-bottom: 0px;
    padding-bottom: 16px;
}

.ag-card .mat-card-content > div:first-child {
	flex: 1;
}


