/**
 * Dashboard Styles
 */
#dashboard {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#dashboard-sidenav {
	width: 300px;
}

#dashboard-container {
	flex: 1;
	// background-color: #FFF9C4;
}