



/**
 * Forms always fill their container cards.
 * 
 * TODO: Should forms just always fill thier containers
 * and default to flex-columns by default?
 * 
 */
// .ag-card > form, .mat-card > form {
// 	flex: 1;
// 	flex-direction: column;
// 	display: flex;
// }




/* Style lists within forms:

	TODO: Rewrite this as a class for the list
	mat-list.form-group;

*/
.mat-list.form-group {
	.mat-list-base .mat-list-item {
		height: 96px;

		.mat-form-field {
			flex: 1;
			padding: 0px 16px 0px 32px;
		}

		.mat-icon {
		    font-size: 42px;
		    width: 42px;
		    height: 42px;

		    color: #64B5F6;
		}

		.mat-list-item-content {
			padding: 0px 32px;
		}

		.ag-list-item-content {
			flex: 1;
			padding-left: calc(42px + 32px);
			padding-right: 32px;
			text-align: left;
		}
	}
}


/*
 Makes form fields inside an .ag-form appear to be
 standard text. The form field is not underlined and
 the cursor is changed to a pointer, signifying that
 it can be clicked, which places focus on the form 
 field, which then becomes underlined.
 */

.ag-form.discreet {
	.mat-form-field-underline {
    	display: none!important;
	}
	.mat-focused .mat-form-field-underline {
    	display: block!important;
	}
	.mat-form-field {
		cursor: pointer;
		input {
			cursor: pointer;
		}
	}
	.mat-form-field.mat-focused  {
		cursor: auto;
		input {
			cursor: auto;
		}
	}
}



/**
 * Icon Radio Group
 */

.icon-radio-group {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	

	.mat-radio-button {
		height: 64px;
	}

	.mat-icon {
		height: 42px;
		width: 42px;
		font-size: 42px;
	}

	.mat-radio-button {
		padding: 0px 32px;

		.mat-radio-label-content {
			display: flex;
			flex-direction: row;
		}

		.mat-radio-container {
			display: none;
		}

		.radio-button-label {
			flex: 1;
			line-height: 42px;
			font-size: 21px;
			margin-left: 16px;
		}
	}


}