

.ag-list {

	margin-top: 16px;

	.mat-list-item {
		height: 40px;
		line-height: 40px;

		.mat-icon.list-item-icon {
			font-size: 42px;
			width: 42px;
			height: 42px;
			color: #64B5F6;
		}
		.list-item-content {
			padding-left: 16px;
			flex: 1;
		}

		.mat-icon {
			color: #64B5F6;
		}

		.mat-icon.status-icon {

		}
	}

	.mat-list-item.status-inactive {
		color: gray;
		.mat-icon {
			color: gray;
		}
	}
}

/**
 * TODO: Mat-List.icon-list
 */
.mat-list-base.ag-list {

	padding-top: 0px;

	.mat-list-item-content > .mat-icon,
	.list-item-icon .mat-icon {
		height: 64px;
		width: 64px;
		font-size: 64px;
	}

	.mat-list-item-content > .mat-form-field,
	.mat-list-item-content > .ag-form-field,
	.list-item-content {
		padding-left: 32px;
		font-size: 20px;
		flex: 1;
	}

	.mat-list-item-content > .ag-form-field {
		display: flex;
	    flex-direction: column;
	}

	.mat-list-item {
		height: 60px;
	}
}

.mat-list-base.ag-list {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	.mat-icon {
		color: #1E88E5;
		//TODO: ADD THIS BACK IN AFTER SHADOWS ENABLED
		//text-shadow: $t-depth-1;
	}
}


.mat-list-base.ag-list.justify-start {
	justify-content: flex-start;

	.mat-list-item {
	    height: 100px;
	    margin-bottom: 20px;
	}
}

.list-item-content {
	display: flex;
	flex-direction: column;
	flex: 1;

	div.primary-text {
		font-size: 32px;
	}

	p.primary-text {
		font-size: 22px;
	}

	div.secondary-text {
		font-size: 15px;
	}

	p.secondary-text {
		font-size: 16px;
	}
}



/**
 * TODO: For lists with avatars. Hover over the avatar reveals a checkmark.
 * Once a checkbox is checked all avatars turn into checkboxes.
 */
.mat-nav-list.selectable-avatars {

	.selectable-avatar {

		width: 42px;

		.checkbox-container {
			display: none;
		}
	}

	.mat-list-item:hover .selectable-avatar {
		.avatar-container {
			display: none;
		}

		.checkbox-container {
			display: block;
			text-align: center;
		}
	}
}
