
<h2>Form Fields (Minimal Configuration)</h2>

Form fields with the minimum required configuration. The 
field label, token, and widget will be auto populated.

<h3>String</h3>

<ag-form-field [field]="fields['string']" [item]="item">

</ag-form-field>


<h3>Integer</h3>

<ag-form-field [field]="fields['integer']" [item]="item">

</ag-form-field>

<h3>Decimal</h3>

<ag-form-field [field]="fields['decimal']" [item]="item">

</ag-form-field>

<h3>Checkbox</h3>

<ag-form-field [field]="fields['boolean']" [item]="item">

</ag-form-field>

<h3>Select</h3>

<ag-form-field [field]="fields['select']" [item]="item">

</ag-form-field>

<h3>Date</h3>

<ag-form-field [field]="fields['date']" [item]="item">

</ag-form-field>