@import "./cards_mixins";

/* forms in cards default to expanding flex columns */
.ag-card > form, .mat-card > form {
	flex: 1;
	flex-direction: column;
	display: flex;
}

.ag-card .mat-card-content {
	flex: 1;
	flex-direction: column;
	display: flex;
}