/*
 This is a fix for a bug where the material dialogs display full vertical
 height of the browser all of the time.
 */
.cdk-overlay-pane, .md-overlay-pane {
	height: auto !important;
}

mat-dialog-container.mat-dialog-container { 
	height: auto!important; 
	padding: 0px;

	.dialog-header .mat-toolbar {
		display: flex;
		flex-direction: row;

		.header-title {
			-webkit-box-flex: 1;
			flex: 1;
		}
	}
}



/* Set some reasonable default sizing for dialogs */
.cdk-overlay-pane.ag-reactive-dialog {
	min-width: 500px;
	max-width: 100vw!important;
}

/* dialogs should default to expanding flex columns */
.mat-dialog-container {
	display: flex!important;
    flex-direction: column;

    > :first-child {
    	flex: 1;
    	flex-direction: column;
		display: flex;
		
		.dialog-content {
			width: 100%;
			flex: 1;
			max-width: 100%;
			overflow-x: auto;

			padding: 33px;
		}

	    // > :first-child {
	    // 	flex: 1;
	    // 	flex-direction: column;
	    // 	display: flex;
	    // }
    }
}


.ag-reactive-dialog {
	max-width: 80vw;

	.dialog-content {
		max-width: 100%;
		overflow-x: auto;
		max-height: 70vh;
		overflow-y: auto;
	}
}