/**
 * Common Styles
 */
.ellipsis {
	text-overflow: ellipsis;
}

.fill {
	flex: 1;
}

.flex {
	flex: 1;
}

.flex-col {
	display: flex; 
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}


.no-text-cursor {
	cursor: default;
}

.no-text-select {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}


