/**
 * Progress bars that float at top or bottom of container
 */
.mat-progress-bar.valign-bottom {
  position: absolute;
  bottom: 0;
}

.mat-progress-bar.valign-top {
  position: absolute;
  top: 0;
}

