@import './assets/fonts/Ubuntu/font.css';
@import './assets/fonts/Material_Icons/font.css';
@import './assets/fonts/Montserrat/font.css';
@import './assets/fonts/Comfortaa/font.css';

@import '~@angular/material/theming';

/**
 * Import the Angular Material theming library. This allows setting the
 * primary/accent/warn colrs.
 */

@include mat-core();
 
  
/* app colors */
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-light-blue);
$candy-app-warn:    mat-palette($mat-pink);
$candy-app-theme:   mat-light-theme(
    $candy-app-primary, $candy-app-accent, $candy-app-warn
  );
 
 
 @include angular-material-theme($candy-app-theme);



$app-brand-typo: mat-typography-config(
  $font-family:  'Ubuntu',
  $display-1: mat-typography-level(64px, 72px, 100),
  $display-2: mat-typography-level(48px, 52px, 100),
  $display-4: mat-typography-level(14px, 18px, 100),
);

$app-brand-accent-typo: mat-typography-config(
  $font-family:  'Comfortaa',
  $display-4: mat-typography-level(16px, 18px, 100),
);

/* to change the default styling of all material components */
$app-base-typo: mat-typography-config(
  $font-family:  'Montserrat',
  $body-1: mat-typography-level(18px, 1.125, 100),
  // $input: mat-typography-level(32px, 48px, 700),
);

@include angular-material-typography($app-base-typo);

 
 


@import './creative/styles';
